/* Hero Area */
.hero-area{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/lawyer.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
    padding: 10px;
}
.hero-text{
    text-align: center;
    margin-top: 250px;
    color: rgb(238, 231, 231);
}
/* Service Area */
.service-area{
    padding: 10px;
    text-align: center;
    background-color: #dddddd;
}
.service-title{
    margin-bottom: 30px;
}
.service-all-button{
    margin-top: 30px;
    margin-bottom: 30px;
}
/* Why Area */
.why-area{
    padding: 10px;
    text-align: center;
    background-color: #dddddd;
}
.why-title{
    margin-top: 20px;
    margin-bottom: 30px;
}
.why-icon{
    font-size: 32px;
}

/* Contact Area */
.contact-area{
    padding: 10px;
    background-color: #dddddd;
}
.contact-details{
    margin-top: 80px;
}
